.front{
    margin-top: 25px;
}
ul li{
    display: inline;
}
ul li a{
    font-weight: 1000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    font-size: xx-large;
}
ul li a:hover{
    color: rgb(125, 243, 208);
}
.about_info li a{
    font-weight: 1000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(9, 9, 67);
    font-size: xx-large;
}
.about_info li a:hover{
    color: rgb(3, 255, 179);
}

.button:hover{
    color: rgb(19, 133, 95);
    background-color: rgb(245, 248, 251);
}
.button{
    margin-top: 0px;
    margin-left: 40px;
    /* margin-left: 1300px; */
    color: rgb(19, 133, 95);
    border-radius: 7px;
    font-size: medium;
    font-weight: 1000;
    background-color: rgb(19, 133, 95);
    color: white;
}
body{
    background-image: url("front img/pexels-baskincreativeco-1766838.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
p{
    margin-top: 155px;
    text-align: center;
    color: #ff6347;
    font-weight: 100px;
    font-size: 65px;
    /* font-style: oblique; */
    -webkit-text-stroke: 0.5px black;
}
/* rgb(193, 248, 220) */
.book{
    margin-left: 46%; 
    color: rgb(224, 162, 69);
    border-radius: 5px;
    font-size: large;
    font-weight: bolder;
    background-color:rgb(31, 61, 62);
    padding: 10px;
    border: 1px;
}
.book:hover{
    background-color: cadetblue;
}

a{
    text-decoration: none;
    color: rgb(26, 159, 159);
}

a:hover{
    color: rgb(124, 44, 94);
}
.place{
    background-image: url("place bg/ea6920345d854c9aa1dc863daf03ac1e.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.tower{
    width: 450px;
    height: 300px;
    border-radius: 15px;
    margin-left: 2.5px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.tower:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}
.khalifa{
    width: 450px;
    height: 300px;
    margin-left: 70px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.khalifa:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}
.taj{
    width: 450px;
    height: 300px;
    margin-left: 70px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.taj:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}
   
.rome{
    width: 450px;
    height: 300px;
    margin-left: 2.5px; 
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 15px;
}
.rome:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}
.wall{
    width: 450px;
    height: 300px;
    margin-left: 70px; 
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.wall:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}
.thailand{
    width: 450px;
    height: 300px;
    margin-left: 70px; 
    margin-top: 30px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.thailand:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}
.temple{
    width: 450px;
    height: 300px;
    margin-left: 2.5px; 
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.temple:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}
.singapore{
    width: 450px;
    height: 300px;
    margin-left: 70px; 
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.singapore:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}
.egypt{
    width: 450px;
    height: 300px;
    margin-left: 70px; 
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.egypt:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}
.england{
    width: 450px;
    height: 300px;
    margin-left: 2.5px; 
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.england:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}
.australia{
    width: 450px;
    height: 300px;
    margin-left: 70px; 
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.australia:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}
.manali{
    width: 450px;
    height: 300px;
    margin-left: 70px; 
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.manali:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}
.munar{
    width: 450px;
    height: 300px;
    margin-left: 2.5px; 
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.munar:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}
.kanyakumari{
    width: 450px;
    height: 300px;
    margin-left: 70px; 
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.kanyakumari:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}
.kollihill{
    width: 450px;
    height: 300px;
    margin-left: 70px; 
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.kollihill:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}
.ooty{
    width: 450px;
    height: 300px;
    margin-left: 2.5px; 
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.ooty:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}
.bankok{
    width: 450px;
    height: 300px;
    margin-left: 70px; 
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.bankok:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}
.hogenakkal{
    width: 450px;
    height: 300px;
    margin-left: 70px; 
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.hogenakkal:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}
/* .tower1{
    background-image: url("place bg/images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    position: fixed;
    top: 50px;
} */
p span{
    font-weight: bolder;
    color: rgb(239, 34, 99);
}
.frontpara{
    color: antiquewhite;
}
.contact-information{
    display: inline-block;
    position: relative;
    top: 25%;
    left:40%;
    padding: 30px;
    border-radius: 12px;
   font-stretch: expanded;
   background-color: rgb(232, 235, 234);
   opacity: 0.75;
   margin-top: -50px;
}
.login{
    background-color: white;
    width: 550px;
    padding-left: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    border-radius: 25px;
    margin-left: 450px;
    /* opacity: 0.75; */
}
.book_login{
    background-color: white;
    width: 550px;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 25px;
    border-radius: 25px;
    margin-left: 80px;
    margin-top: 35px;
}
.name{
    margin-left: 150px;
    color: black;
    font-weight: bolder;
}
.name_b{
    margin-left: 170px;
    width: 270px;
    height: 30px;
    font-size: medium;
}
.name_t{
    margin-left: 170px;
    width: 270px;
    height: 30px;
    font-size: medium;
    height: 85px;
}
.radio1{
    margin-left: 160px;
}
.radio2{
    margin-left: 5px;
}
.submit{
    font-size: medium;
    font-weight: 800;
    font-style: bold;
    background-color: rgb(226, 120, 247);
    color: rgb(7, 7, 7);
    border-radius: 8px;
    margin-left: 250px;
    margin-top: 45px;
    margin-bottom: 20px;
}
.submit2{
    font-size: medium;
    font-weight: 800;
    font-style: bold;
    background-color: rgb(226, 120, 247);
    color: rgb(7, 7, 7);
    border-radius: 8px;
    margin-left: 220px;
    margin-top: 45px;
    margin-bottom: 20px;
}
.submit2:hover{
    background-color: green;
}
.submit:hover{
    background-color: green;
}
.para_head{
    padding-top: 0px;
    background-image: url("front img/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjEwNjQtMzYta3ZjNHNieHcuanBn.webp");
}
.para{
    margin-top: -120px;
}
 .book_bg{
    background-image: url("front img/78407559-booking-form-for-hotel-room-reservation-stone-background-top-view-space-for-text-removebg-preview.png");
 }
 .book_font{
    font-family: "Imperial Script", cursive;
    font-size: xxx-large;
 }
 .contact{
    background-image: url("front img/website-internet-contact-us-page-260nw-2152770651.jpg");
 }
.info{
    margin-left: 350px;
    margin-top: 25px;
    font-size: xx-large;
}
.welcome{
    margin-left: 650px;
    font-family: "Imperial Script", serif;
    font-weight: bold;
    font-style: normal;
    font-size: xxx-large;
}